<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Job Posts</h1>
  <% if (profile.jobPosts.length)  {%>
    <% profile.jobPosts.forEach(jobPost => { %>
      <div class="card">
        <h5 class="card-header"><%= jobPost.role %></h5>
        <div class="card-body">
          <h5 class="card-title"><%= jobPost.companyName %></h5>
          <p class="card-text">Sector: <%= jobPost.sector %></p>
          <hr>
          <% if (jobPost.contacts.length) { %>
            <h5 class="card-title">Contacts:</h5>
            <form action="/jobPosts/<%= jobPost._id %>/contacts"
              method="POST">
              <input 
              name="name"
              type="text"
              placeholder="Contact Name"
              >
              <button type="submit">Add Contact</button>
            </form>
                <% jobPost.contacts.forEach(function(contact) { %>
                  <form action="/jobPosts/<%= jobPost._id %>/contacts/<%= contact._id %>?_method=PUT"
                    method="POST">
                    <p class="card-text"><%= contact.name %></p>
                    <label>

                      Contacted?
                      <input type="checkbox" name="contacted">
                    </label>
                    <label>
                      Replied?
                      <input type="checkbox" name="replied">
                    </label>
                    <button 
                    type="submit">Update</button>
                  </form>
                  <form 
                    action="/jobPosts/<%= jobPost._id %>/contacts/<%= contact._id %>?_method=DELETE" 
                    method="POST">
                    <button 
                    type="submit">X</button>
                  </form>
                <% }) %>
          <% } else { %>
            <h5>No Contacts Yet</h5>
            <form action="/jobPosts/<%= jobPost._id %>/contacts"
              method="POST">
              <input 
              name="name"
              type="text"
              placeholder="Contact Name"
              >
              <button type="submit">Add Contact</button>
            </form>
          <% } %>
          <hr>
          <label>
            Applied?
            <input type="checkbox" name="contacted">
          </label>
          <p class="card-text">
            <%= jobPost.applied %>
          </p>
          <label>
            Company Replied?
            <input type="checkbox" name="contacted">
          </label>
          <p class="card-text"><%= jobPost.salaryRange %></p>

          <%# languages required %> 

          <p class="card-text"><%= jobPost.motivation %></p>
          <p class="card-text"><%= jobPost.notes %></p>

          <a href="<%= jobPost.link %>" class="btn btn-primary">Job Post Link</a>
          <form 
            action="/jobPosts/<%= jobPost._id %>?_method=DELETE"
            method="POST"
            >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <form 
            action="/jobPosts/<%= jobPost._id %>/edit"
            >
            <button type="submit" class="btn btn-secondary">Edit</button>
          </form>
        </div>
      </div>
    <% }) %>
    <% } else { %>
      <h3>No Job Posts Yet</h3>
    <% } %>
</section>

<%- include('../partials/footer') %>