<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Job Posts</h1>
  <% if (profile.jobPosts.length)  {%>
    <div class='cardContainer'>
      <% profile.jobPosts.forEach(jobPost => { %>
        <div class="card">
          <div class="card-header">
            <h5 class="card-header"><%= jobPost.companyName %></h5>
          </div>

          <div class="card-body-left">
            <h5 class="card-company"><%= jobPost.role %></h5>
            <p class="card-text"><b>Sector:</b> <%= jobPost.sector %></p>
            <hr>
            <% if (jobPost.contacts.length) { %>
              <h5 class="card-title">Contacts:</h5>
              <% jobPost.contacts.forEach(function(contact) { %>
                <form 
                  action="/jobPosts/<%= jobPost._id %>/contacts/<%= contact._id %>?_method=DELETE" 
                  method="POST">
                  <label><%= contact.name %></label> 
                  <button 
                    type="submit"
                    class="delete-contact-btn">
                  X</button>
                </form>
              <% }) %>
              <% } else { %>
                <h5>No Contacts Yet</h5>
              <% } %>
              <form action="/jobPosts/<%= jobPost._id %>/contacts"
                method="POST">
                <input 
                  name="name"
                  type="text"
                  class="contact-input"
                  autocomplete="off"
                  placeholder="Contact Name">
                <button type="submit">Add</button>
              </form>
            <hr>
            <h5 class="card-title">Application</h5>
            <p>
              Date Sent: 
              <%= jobPost.applied ? jobPost.applied.toLocaleDateString() : 'Application Not Sent' %>
            </p>
          </div>

          <div class="card-body-right">
            <p class="card-text"><b>Salary Range:</b> <%= jobPost.salaryRange %></p>
            <p class="card-text"><b>Motivation:</b> <%= jobPost.motivation %></p>
            <h5 class="card-title">Skills Required:</h5>
            <ul class="language-list">
              <% jobPost.reqLanguages.forEach((reqLanguage) => { %>
              <li class="language-items-<%= reqLanguage.proficient %>">
                <%= reqLanguage.name %></li>
                <% }); %>
            </ul>
            <hr>
            <p><b>Notes:</b></p>
            <p class="card-text"><%= jobPost.notes %></p>
          </div>

          <div class="card-buttons">
            <a 
            role="button"
            href="<%= jobPost.link %>"> 
            <button class="nav-btn">Job Post Link</button>
            </a>
            <form 
              action="/jobPosts/<%= jobPost._id %>/edit">
              <button type="submit" class="edit-btn">Edit</button>
            </form>
            <form 
              action="/jobPosts/<%= jobPost._id %>?_method=DELETE"
              method="POST">
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          </div>
          </div>
          <% }) %>
          <% } else { %>
            <h3>No Job Posts Yet</h3>
            <% } %>
          </div>
</section>

<%- include('../partials/footer') %>