<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Job Posts</h1>

  <%= console.log(`that->${profile.jobPosts}`) %>
  <% profile.jobPosts.forEach(jobPost => { %>
    <% console.log(`each name is ${jobPost.companyName}`) %>
    <h5 class="card-title"><%= jobPost.companyName %></h5>
    <% }) %>
</section>

<%- include('../partials/footer') %>