<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

  <h1><%= title %></h1>
  <form id="new-form" action="/jobPosts/<%= jobPost._id %>?_method=PUT" method="POST">
    <label>
      Company Name: 
      <input type="text" 
      name="companyName" 
      autocomplete="off"
      value="<%= jobPost.companyName %>">
    </label>
    <label>
      Role: 
      <input 
      type="text" 
      name="role" 
      autocomplete="off"
      value="<%= jobPost.role %>">
    </label>
    <label>
      Sector: 
      <input type="text" 
      name="sector" 
      autocomplete="off"
      value="<%= jobPost.sector %>">
    </label>
    <label>
      Salary Range: 
      <input type="text" 
      name="salaryRange" 
      autocomplete="off"
      value="<%= jobPost.salaryRange %>">
    </label>
    <label>
      Job Post Link: 
      <input type="text" 
      name="link" 
      autocomplete="off"
      value="<%= jobPost.link %>">
    </label>
    <select name="motivation" id="motivation-select">
      <option value="<%= jobPost.motivation %>" selected><%= jobPost.motivation %></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>
      Date Appplied: 
      <input type="date" 
      name="applied" 
      autocomplete="off"
      value="<%= jobPost.applied %>">
    </label>
    <label>
      Notes: 
      <input 
      type="text" 
      name="notes" 
      autocomplete="off"
      value="<%= jobPost.notes %>">
    </label>

    
    <button type="submit">Edit Job Post</button>
  </form>


    <% jobPost.reqLanguages.forEach(language => { %>
      <p><%= language.name %></p>
    <% }) %>



  <form 
    action="/jobPosts/<%= jobPost._id %>/reqLanguages"
    method="POST">
    <select name="languageId" id="">
      <% languages.forEach(language => { %>
        <option 
          value="<%= language._id %>">
          <%= language.name %> (<%= language.proficient ? 'proficient' : 'not proficient' %>)
        </option>
      <% }) %>
    </select>
    <button type="submit">Add to 'Languages Required'</button>
  </form>

  </main>

<%- include('../partials/footer') %>